@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9fffff;
  }  

.container {
    display: flex;
    flex-direction: column; 
    max-width: 500px; 
    height: auto; 
    padding: 20px; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #ffffff; 
  }

  button {
    padding: 10px;
    border-radius: 5px;
    background-color: #65c0e4;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%; 
  }
  
  button:hover {
    background-color: #0095cf;
  }

  